#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# PyCharm
.idea
.terraform
terraform/ssh
terraform/terraform.tfstate.backup
terraform/.terraform
*.pyc
bastion.profile
.*.swp
